@mixin flexDirection($direction) {
    display: flex;
    flex-direction: $direction;
}

.form-cont {
    background-color: $white;
    width: 60%;
    height: 60vh; 
    margin: 5rem auto;
    @include flexDirection(row);

    form {
        border: 1px solid blue;
        width: 50%;
    }
}